<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>pokedex</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/angular-csp.css" />
    </head>
     <body ng-app="pokedex">

        <div class="container">
            <h1>Pokésir</h1>

            <!-- Search -->
            <div ng-controller="searchPokemon">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Pokemon ID</span>
                    <input ng-model="pokemonId" ng-change="onChange(pokemonId)" type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Tapez l'ID du pokemon à rechercher">
                </div>
                <br>
                <div class="form-group">
                    <label >Pokemon name</label>
                    <input type="text" class="form-control" id="usr" ng-model="searchedPokemon" placeholder="Tapez le nom du pokemon à rechercher">
                </div>
                <br>
                <div class="form-group" ng-cloak> <!--https://docs.angularjs.org/api/ng/directive/ngCloak-->
                    <label for="choosedPokemon">choose Pokemon</label>
                    <select id="choosedPokemon" class="form-control" ng-model="selectedPokemon">
                        <option ng-repeat="pokemon in pokemonList | filter:searchedPokemon" value="{{pokemon.name}}">{{pokemon.name}}</option>
                    </select>
                </div>
                <button ng-click="getSelectedPokemon(selectedPokemon)" type="button" class="btn btn-default">GO</button>
                <img ng-show="loading" ng-src="img/loader.gif">
            </div>
            <br>
            <!-- Pokémon information -->
            <div ng-controller ="pokemonDetails">
                <!--<span ng-cloak >
                    <img ng-src="{{data.pokemonImageLink}}">
                    <h2>{{data.info}}</h2>
                    <ul>
                        <li ng-repeat="move in data.moves">{{move.name}}</li>
                    </ul>
                </span>-->
                <pokedex></pokedex>
            </div>
        </div>

    <!-- Dependencies -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>

        <!-- Pokedex app -->
        <script src="js/pokedexDirectives.js"></script>
        <script src="js/pokedexServices.js"></script>
        <script src="js/pokedexControllers.js"></script>
        <script src="js/pokedex.js"></script>
    </body>

</html>
